@import '~bootstrap/scss/bootstrap';


//TEXT COLOR
.text-extra-light-green {
    color: #c3e2a5;
}

.text-light-green {
    color: #b0e29d;
}

.text-middle-green {
    color: #73b760;
}

.text-dark-green {
    color: #43762b;
}

//BACKGROUND COLOR
.bg-extra-light-green {
    background-color: #c3e2a5;
}

.bg-light-green {
    background-color: #b0e29d;
}

.bg-middle-green {
    background-color: #73b760;
}

.bg-dark-green {
    background-color: #43762b;
}

.bg-extra-dark-green {
    background-color: #274b16;
}

//BUTTON
.btn-cust {
    color: white;
    font-size: 18px;
    text-align: 40px;
    padding: 0px 15px;
    font-weight: bold;
    background-color: #73b760;
    border-radius: 99px;

    &:hover {
        background-color: #43762b;
    }

}

.dropdown-menu {
    background-color: #43762b;

    .dropdown-item {
        color: white;
        font-weight: 600;
    }

    .dropdown-item:hover {
        color: #b0e29d;
        background-color: #43762b;
    }
}

.logo-small-header {
    width: 70px;
}

.logo-full-header {
    width: 150px;
}

.header-item {
    padding: 5px;
    vertical-align: 5px;
    font-size: 16px;
    font-weight: 800;
}

li:hover {
    color: white;
    // font-weight: 700;
    background-color: #43762b;
    border-radius: 99px;
}

.nav-link {
    color: white;
    font-weight: bold;

    &:hover {
        color: white;
    }
}

.nav-dropstart-btn {
    background-color: #73b760;
    border: none;
}


.dashboard-link a {
    color: var(--bs-heading-color);
    text-decoration: none;

    &:hover {
        color: #73b760;
        text-decoration: underline;
    }
}

.dashboard-card {
    padding: 10px 10px;
    border: 5px solid #c3e2a5;
    box-shadow: 0px 0px 10px #c3e2a5;
    border-radius: 20px 20px 20px 20px;
}