@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

//TEXT COLOR
.text-extra-light-green {
    color: #c3e2a5;
}

.text-light-green {
    color: #b0e29d;
}

.text-middle-green {
    color: #73b760;
}

.text-dark-green {
    color: #43762b;
}

//BACKGROUND COLOR
.bg-extra-light-green {
    background-color: #c3e2a5;
}

.bg-light-green {
    background-color: #b0e29d;
}

.bg-middle-green {
    background-color: #73b760;
}

.bg-dark-green {
    background-color: #43762b;
}

.bg-extra-dark-green {
    background-color: #274b16;
}

//BUTTON
.btn-cust {
    color: white;
    font-size: 18px;
    text-align: 40px;
    padding: 0px 15px;
    font-weight: bold;
    background-color: #73b760;
    border-radius: 99px;

    &:hover {
        background-color: #43762b;
    }

}

.btn-cust-red {
    color: white;
    font-size: 18px;
    text-align: 40px;
    padding: 0px 15px;
    font-weight: bold;
    background-color: rgba(238, 5, 5, 0.747);
    border-radius: 99px;

    &:hover {
        background-color: rgb(216, 3, 3);
    }

}

a.btn-cust,
a.btn-cust-red {
    text-decoration: none;
}

button.btn-cust,
button.btn-cust-red {
    border: none;
}

.dropdown-menu {
    background-color: #43762b;

    .dropdown-item {
        color: white;
        font-weight: 600;
    }

    .dropdown-item:hover {
        color: #b0e29d;
        background-color: #43762b;
    }
}

.logo-small-header {
    width: 70px;
}

.logo-full-header {
    width: 150px;
}

.header-item {
    padding: 5px;
    vertical-align: 5px;
    font-size: 16px;
    font-weight: 800;
}

li:hover {
    color: white;
    // font-weight: 700;
    background-color: #43762b;
    border-radius: 99px;
}

.nav-link {
    color: white;
    font-weight: bold;

    &:hover {
        color: white;
    }
}

.nav-dropstart-btn {
    background-color: #73b760;
    border: none;
}


.dashboard-link a {
    color: var(--bs-heading-color);
    text-decoration: none;

    &:hover {
        color: #73b760;
        text-decoration: underline;
    }
}

.green-card {
    padding: 10px 10px;
    border: 5px solid #c3e2a5;
    box-shadow: 0px 0px 10px #c3e2a5;
    border-radius: 20px 20px 20px 20px;
}

// form soft delete 

.bg-form {
    background-color: rgba(0, 0, 0, 0.586);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 999;

    .delete-form {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.active {
    display: block;
}
